<div class="col-md-6 col-md-offset-3 panel panel-default">
  <div class="panel-body">
    
    <h2>Create an Account</h2>

    <%= simple_form_for(@account, html: {class: 'form-simple' }) do |f| %>
       
        <%= f.label :subdomain %>
        <%= f.input_field :subdomain %>
   
      </p>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
